{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Records</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Manrope">
    </head>
    <style>
        body {
            font-family: 'Manrope';
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
        }
    </style>
    <body>
        <div>
            <div>
                <a href="/recipes">Back to all recipes</a>
            </div>
            <br>
            <div>
                <a href="{% url 'logout' %}">Logout</a>
            </div>
            <br>
            <div class="title">
                <h1>Recipe Records</h1>
                <h2>Search for Recipes</h2>
            </div>
            <hr>
            <br>
            <div class="form">
                <form action="" method="GET">
                    {% csrf_token %}
                    {{form}}
                    <button type="submit">Search</button>
                </form>
                <br>
                {% if recipes_df %}
                    {{recipes_df|safe}}
                    <br>
                    <img src="data:image/png;base64, {{chart|safe}}">
                {% else %}
                    <h3>No data to display</h3>
                {% endif %}
            </div>
        </div>
    </body>
</html>